.input-group {
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  font-weight: 600;
  color: black;
} 

form {
  float: right;
  height: 50vh;
  width: 25vw;
  margin-top: 5%;
}

.chart {
    height: 75vh;
    width: 50vw;
    float: left;
}

form .chart {
  align-items: center;
  align-content: center;
  vertical-align: middle;
}