/* This is from the default React CSS */

.input-group {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 20px;
}

.label {
  font-weight: 600;
  color: black;
} 